        <div id="footer">
            <div id="footer-inner">
                <p id="beian"><a href="https://beian.miit.gov.cn/" target="_blank" id="beian_innerText">晋ICP备19006860号</a></p>            
		<p id="gongan_beian"><img src="/img/static/gongan.png"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=" target="_blank" id="gongan_beian_innerText"></a></p>
                <p id="copyright">Copyright © 2019 作者：RainyCrying. Linux运维工程师</p>
		<p id="ipv6"><a href="https://ipw.cn/ipv6webcheck/?site=www.rainycrying.com" target="_blank" title="本站支持IPv6访问"><img style="display:inline-block;vertical-align:middle;width:190px;height:36px" src="https://www.rainycrying.com/img/static/icon/ipv6-s1.svg" alt="本站支持IPv6访问"></a><a href="https://ipw.cn/ssl/?site=www.rainycrying.com" target="_blank" title="本站支持SSL安全访问"><img style="display:inline-block;vertical-align:middle;width:85px;height:36px" src="https://www.rainycrying.com/img/static/icon/ssl-s1.svg" alt="本站支持SSL安全访问"></a> <a href="https://www.china-ipv6.cn/" target="_blank" rel="nofollow">国家IPv6发展监测平台</a> | 请遵守中国法律法规 <br>致力于普及IPv6，推进IPv6规模部署和应用，以全面推进IPv6技术创新与融合应用为主线，以提升应用广度深度为主攻方向</p>
            </div>
        </div>
        {% include footer_plugin.html %}
    </body>
</html>
