<h2 id="自我介绍">自我介绍</h2>
<ul>
<li>本名张洋，在山东省出生和长大</li>
<li>小时候的理想是成为一名数学家或物理学家，再后来的理想是成为一名职业足球运动员，现均已破灭</li>
<li>我的大学生涯分别在烟台大学和北京航空航天大学大学度过，2011年在北京航空航天大学取得计算机理论硕士学位</li>
<li>我非常喜欢程序员这份工作，同时酷爱数学</li>
<li>核向主机游戏玩家，二次元动漫爱好者（伪）</li>
<li>我喜欢学习和研究算法，尽管我对此并不精通</li>
<li>另外我对计量经济学和博弈论很有兴趣</li>
<li>我也喜欢踢足球、骑车、看动漫和电影，各种狗血电视剧我也看了不少</li>
<li>我是麦当劳粉和星巴克粉</li>
<li>我是曼联球迷，专注英吹15年</li>
<li>我不相信人是由猴子进化来的，也不相信喝尿或放血可以治病，谢谢</li>
<li>我希望世界和平，因为我喜欢周末能安静舒适的看书和学习</li>
</ul>
<h2 id="我的项目">我的项目</h2>
<ul>
<li><a href="https://github.com/ericzhang-cn/papery">papery</a>：一个使用Node写的静态博客系统，可通过Markdown和YAML生成静态博客。我的这个博客由papery搭建</li>
<li><a href="https://github.com/chaoslawful/ccard-lib">ccard-lib</a>：使用C实现的基数估计算法库，实现了Linear Counting，Adaptive Counting，HyperLogLog Counting及HyperLogLog++ Counting</li>
<li><a href="https://github.com/ericzhang-cn/kindle-open-books">kindle-open-books</a>：使用Python写的一系列Calibre脚本，用于将网上开放的Web书籍转为mobi格式，供kindle阅读</li>
<li><a href="https://github.com/ericzhang-cn/random.js">random.js</a>：纯JavaScript实现的随机数生成库，可生成不同概率分布的随机数</li>
<li><a href="https://github.com/ericzhang-cn/opdumper">opdumper</a>：使用C，以PHP extension的方式实现的PHP opcode dumper，可以将PHP程序转为对应的opcode，提供console及PHP两种接口</li>
<li><a href="https://github.com/ericzhang-cn/rss2epub">rss2epub</a>：一个将RSS转为epub电子书的工具，由Java实现</li>
</ul>
<h2 id="联系方式">联系方式</h2>
<ul>
<li>代码在<a href="https://github.com/ericzhang-cn">github</a></li>
<li>扯淡在<a href="http://weibo.com/ericzhangbuaa">新浪微博</a></li>
<li>直接联系我可以发邮件到ericzhang.buaa#gmail.com（请将“#”替换为“@”）</li>
</ul>
