<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
        <div class="footer">
	    <p class="p1" ><a href="https://beian.miit.gov.cn/" target="_blank" id="innerText">晋ICP备19006860号</a></p>
            <p class="p2">Copyright © 2019 作者：RainyCrying. Linux运维工程师</p>
        </div>
  </body>
<script >
	// 定义白名单数组
const whiteList = ['rainycrying.com', 'xn--e1to22ajja.com', 'xn--vo1aa064g.com', 'xn--vo1aa064g.xn--6qq986b3xl'];
// 获取当前域名
const currentHost = window.location.host;
// 获取 id 为 innerText 的元素
const exampleElement = document.getElementById('innerText');

for (let i = 0; i < whiteList.length; i++) {
  if (currentHost.includes(whiteList[i])) {
  	if (whiteList[i] == 'rainycrying.com') {
	exampleElement.innerText = '晋ICP备19006860号-1';
  	}else if(whiteList[i] == 'xn--e1to22ajja.com'){
  		exampleElement.innerText = '晋ICP备19006860号-2';
  	}
  	else if(whiteList[i] == 'xn--vo1aa064g.com'){
  		exampleElement.innerText = '晋ICP备19006860号-3';
  	}
  	else if(whiteList[i] == 'xn--vo1aa064g.xn--6qq986b3xl'){
  		exampleElement.innerText = '晋ICP备19006860号-4';
  	}
  	else {
 	console.log('当前域名不在白名单中');
	}
    break;
  }
}
</script>
</html>
